
#Service configuration
PORT=3002

#Database configuration
DATABASE_URL="postgresql://postgres:123456@localhost:5432/orders_db?schema=public"

#----- Microservice configurations whit TCP transport -----
# Uncomment and set the host and port for each microservice as needed.
# PRODUCTS_MICROSERVICE_HOST="localhost"
# PRODUCTS_MICROSERVICE_PORT="3001"

# ----- NATS configuration ----- 
#NATS_SERVERS is an array of strings, so we need to parse it correctly.
#For example, if you have multiple servers, you can set it like this:
#NATS_SERVERS="nats://localhost:4222,nats://localhost:4223"
NATS_SERVERS="nats://localhost:4222